
<% if @services.present? %>
<table class="table-holder">
  <thead>
    <tr>
      <th>
        <% sort_direction = params[:direction] == 'asc' && params[:sort] == 'name' ? 'desc' : 'asc' %>
        <%= link_to admin_services_path(sort: 'name', direction: sort_direction) do %>
          Provider
          <%= image_tag sort_direction == 'asc' ? "down-arrow.svg" : "up-arrow.svg", 
                      alt: "Sort by Provider", 
                      class: "sorting-icon" %>
        <% end %>
      </th>
      <th>
        <% sort_direction = params[:direction] == 'asc' && params[:sort] == 'employees_count' ? 'desc' : 'asc' %>
        <%= link_to admin_services_path(sort: 'employees_count', direction: sort_direction) do %>
          Number of staff
          <%= image_tag sort_direction == 'asc' ? "down-arrow.svg" : "up-arrow.svg", 
                      alt: "Sort by Employee Count", 
                      class: "sorting-icon" %>
        <% end %>
      </th>
      <th>
        <% sort_direction = params[:direction] == 'asc' && params[:sort] == 'full_address' ? 'desc' : 'asc' %>
        <%= link_to admin_services_path(sort: 'full_address', direction: sort_direction) do %>
          Address
          <%= image_tag sort_direction == 'asc' ? "down-arrow.svg" : "up-arrow.svg", 
                      alt: "Sort by location", 
                      class: "sorting-icon" %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @services.each do |service| %>
    <tr>
      <td>
        <strong>
          <%= link_to service.name, admin_service_path(service) %>
        </strong>
      </td> 
      <td><%= service.employees.count %></td>
      <td>
        <%= [service.location_name, service.address_1, service.city, service.postal_code].reject(&:blank?).join(', ') %>
      </td>
      <td>
        <%= link_to "View all records", admin_service_path(service) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
      <div>
        <h1>No providers found</td>
      </div>
<% end %>
