<% content_for :header do %>

  <%# if @ofsted_item.present? %>
  <!--<div class="notice">
      <div class="notice__body">
          <p>
              This item has been marked as a duplicate
          </p>
      </div>
  </div>-->
  <%# end %>

  <%= render "admin/shared/dynamic-back-link", text: "Back to services", path: admin_services_path %>
  <h1 class="page-header__title two-thirds"><%= @service.name %></h1>
  <h2>11 The Street, City, AB1 C99</h2>
   
    <p>
      <strong>SENCO:</strong> 
      <% if @senco.present? %><%= link_to employee_display_name(@senco), admin_employee_path(@senco.id)  %><% else %>
      n/a<% end %>
    </p>
    <p>
      <strong>Designated Safety Lead:</strong> 
      <% if @safeguarding_lead.present? %><%= link_to employee_display_name(@safeguarding_lead), admin_employee_path(@safeguarding_lead.id)  %><% else %>
      n/a<% end %>
    </p>

<% end %>

<%= render "admin/employees/filters" %>

<%= render partial: 'admin/employees/index', locals: { employees: @employees } %>