<%= form_for @employee, html: {class: "two-thirds"} do |f| %>


<%= render "shared/errors", model: @employee %>

 <%= render "employees/editors/personal-information", f: f %>

<div class="field-group">

<h2>About their employment</h2>

 <%= render "employees/editors/user-provider", f: f %>

 <%= render "employees/editors/job-title", f: f %>

 <%= render "employees/editors/roles", f: f %>

 <%= render "employees/editors/employment", f: f %>

</div>

<div class="field-group">

<h2>About their skills</h2>

 <%= render "employees/editors/skills", f: f %>

 <%= render "employees/editors/qualifications", f: f %>

</div>

<div class="form-actions">
  <%= f.button "Continue", class: "button", id: "submit_form" %>
</div>

<% end %>
