<% if @employees.present? %>
<table class="table-holder">
  <thead>
    <tr>
      <th>
        <% sort_direction = params[:direction] == 'asc' && params[:sort] == 'forenames' ? 'desc' : 'asc' %>
        <%= link_to admin_employees_path(sort: 'forenames', direction: sort_direction) do %>
          First names
          <%= image_tag sort_direction == 'asc' ? "down-arrow.svg" : "up-arrow.svg", 
                      alt: "Sort by Forenames", 
                      class: "sorting-icon" %>
        <% end %>
      </th>
            <th>
        <% sort_direction = params[:direction] == 'asc' && params[:sort] == 'surname' ? 'desc' : 'asc' %>
        <%= link_to admin_employees_path(sort: 'surname', direction: sort_direction) do %>
          Surname
          <%= image_tag sort_direction == 'asc' ? "down-arrow.svg" : "up-arrow.svg", 
                      alt: "Sort by Surname", 
                      class: "sorting-icon" %>
        <% end %>
      </th>
            <th>
        <% sort_direction = params[:direction] == 'asc' && params[:sort] == 'job_title' ? 'desc' : 'asc' %>
        <%= link_to admin_employees_path(sort: 'job_title', direction: sort_direction) do %>
          Job title
          <%= image_tag sort_direction == 'asc' ? "down-arrow.svg" : "up-arrow.svg", 
                      alt: "Sort by Job title", 
                      class: "sorting-icon" %>
        <% end %>
      </th> 
      <th><a>Provider<%= image_tag "down-arrow.svg", alt: "Sort by Provider", class: "sorting-icon" %></a></th>
      <th><a>Qualifications<%= image_tag "down-arrow.svg", alt: "Sort by Qualifications", class: "sorting-icon" %></a></th>
      <th><a>Status<%= image_tag "down-arrow.svg", alt: "Sort by Status", class: "sorting-icon" %></a></th>
    </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td>
        <strong>
          <%= link_to employee.forenames, admin_employee_path(employee) %>
        </strong>
        <button class="mini-search__submit">
        <%= image_tag "search.svg", alt: "Submit search" %>
        </button>
      </td>
      <td><%= employee.surname %></td>
      <td><%= employee.job_title %></td>
      <td><%= service_name_by_id(employee.service_id) %></td>
      <td>
      <% if employee.qualifications.present? %>
        <% employee.qualifications.each do |qualification| %>
          <%= qualification %>
        <% end %>
      <% else %>
        No qualifications
      <% end %>
      </td>
      <td class="tag margin-top--md <%= employee.currently_employed? ? 'bg--active color--active border--active' : 'bg--inactive color--inactive border--inactive' %>">
        <%= employee.currently_employed? ? 'Active' : 'Inactive' %>
      </td>
    </tr>
  <% end %> 
  </tbody>
</table>

<% else %>
      <div>
        <h1>No employees found</td>
      </div>
    <% end %>
