<% if @employees.present? %>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Surname</th>
      <th>Job title</th>  
      <th>Provider</th>
      <th>Qualifications</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td>
        <strong>
          <%= employee.forenames %>
        </strong>
        <button class="mini-search__submit">
        <%= image_tag "search.svg", alt: "Submit search" %>
        </button>
      </td>
      <td><%= employee.surname %></td>
      <td><%= employee.job_title %></td>
      <td><%= service_name_by_id(employee.service_id) %></td>
      <td>
      <% if employee.qualifications.present? %>
        <% employee.qualifications.each do |qualification| %>
          <%= qualification %>
        <% end %>
      <% else %>
        No qualifications
      <% end %>
      </td>
      <td class="tag tag <%= employee.currently_employed? ? 'active' : 'inactive' %>">
        <%= employee.currently_employed? ? 'Active' : 'Inactive' %>
      </td>
    </tr>
  <% end %> 
  </tbody>
</table>

<% else %>
      <div>
        <h1>No employees found</td>
      </div>
    <% end %>
