<% if @employees.present? %>
<table class="table-holder">
  <thead>
    <tr>
      <th><a>First name<%= image_tag "down-arrow.svg", alt: "Sort by Forenames", class: "sorting-icon" %></a></th>
      <th><a>Surname<%= image_tag "down-arrow.svg", alt: "Sort by Surname", class: "sorting-icon" %></a></th>
      <th><a>Job title<%= image_tag "down-arrow.svg", alt: "Sort by Job Title", class: "sorting-icon" %></a></th>
      <th><a>Provider<%= image_tag "down-arrow.svg", alt: "Sort by Provider", class: "sorting-icon" %></a></th>
      <th><a>Qualifications<%= image_tag "down-arrow.svg", alt: "Sort by Qualifications", class: "sorting-icon" %></a></th>
      <th><a>Status<%= image_tag "down-arrow.svg", alt: "Sort by Status", class: "sorting-icon" %></a></th>
    </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td>
        <strong>
          <%= link_to employee.forenames, admin_employee_path(employee) %>
        </strong>
        <button class="mini-search__submit">
        <%= image_tag "search.svg", alt: "Submit search" %>
        </button>
      </td>
      <td><%= employee.surname %></td>
      <td><%= employee.job_title %></td>
      <td><%= service_name_by_id(employee.service_id) %></td>
      <td>
      <% if employee.qualifications.present? %>
        <% employee.qualifications.each do |qualification| %>
          <%= qualification %>
        <% end %>
      <% else %>
        No qualifications
      <% end %>
      </td>
      <td class="tag tag <%= employee.currently_employed? ? 'active' : 'inactive' %>">
        <%= employee.currently_employed? ? 'Active' : 'Inactive' %>
      </td>
    </tr>
  <% end %> 
  </tbody>
</table>

<% else %>
      <div>
        <h1>No employees found</td>
      </div>
    <% end %>
