

<table class="table test-employees">
  <caption>
    A list of all employees entered into the system
    <span class="sr-only">, column headers with buttons are sortable.</span>
  </caption>
  <thead>
    <tr>
      <!--<th class="visually-hidden">ID</th>-->
      <%= sort_column_by("Forenames", "forenames") %>
      <%= sort_column_by("Surame", "surname") %>
      <%= sort_column_by("Job title", "job_title") %>
      <%= sort_column_by("Provider", "service") %>
      <th>Qualifications</th>
      <%= sort_column_by("Status", "status") %>
      <th class="visually-hidden">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |e| %>
      <tr>
        <!--<td><span class="table__small"><%= e.id %></span></td>-->
        <td>
            <strong><%= link_to employee_display_forenames(e).truncate(30), admin_employee_path(e), title: employee_display_forenames(e) %></strong>
        </td>
        <td>
            <%= link_to employee_display_surname(e).truncate(30), admin_employee_path(e), title: employee_display_surname(e) %>
        </td>
        <td>
          <%= e.job_title %>
        </td>
        <td>
            <%= link_to e.service.name.truncate(30), admin_service_path(e.service.id), title: e.service.name %>
        </td>
        <td>
          <%= safe_join(e.qualifications, tag(:br)) if e.qualifications.present? %>
        </td>
        <td>
          <%= status_tag(e.currently_employed? ? 'Active' : 'Inactive') %>
        </td>
        <td>
        <div class="actions-inline">
          <%= edit_employee_link(e) %>
          <%= flag_duplicate_link(e) %>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
