<% content_for :header do %>

  <%# if @ofsted_item.present? %>
  <!--<div class="notice">
      <div class="notice__body">
          <p>
              This item has been marked as a duplicate
          </p>
      </div>
  </div>-->
  <%# end %>

  <%= render "admin/shared/dynamic-back-link", text: "Back to view provider employee details", path: admin_employee_path(@employee) %>
  <h1 class="page-header__title two-thirds"><%= employee_display_name(@employee) %></h1>
  <h2><%= employee_display_job_summary(@employee) %></h2>
  <p class="text-light">Record <%= @employee.id %>  </p>
<% end %>


<header class="actions">
  <% if admin_users? %><%= link_to 'View', admin_employee_path(@employee), class: 'inline-button button--secondary' %>  <% end %>
  <button class="inline-button actions__pull-right" data-open-all>Open all</button>
  <button class="inline-button" data-close-all>Close all</button>
</header>

<div class="with-sidebar">

  <div>
    <%= form_for([:admin, @employee]) do |f| %>

    <%= render "shared/errors", model: @employee %>


    <%= render "admin/shared/collapsible", name: "Personal information", id: "employee-personal-information" do %>
      <%= render "employees/editors/personal-information", f: f %>
    <% end %>



    <%= render "admin/shared/collapsible", name: "Provider", id: "employee-provider-information" do %>
      <%= render "employees/editors/provider", f: f, label: "Current provider" %>
      <%= render "employees/editors/employment", f: f %>
    <% end %>


    <%= render "admin/shared/collapsible", name: "Job title", id: "employee-job-title" do %>
      <%= render "employees/editors/job-title", f: f %>
    <% end %>


    <%= render "admin/shared/collapsible", name: "Roles", id: "employee-roles" do %>
      <%= render "employees/editors/roles", f: f %>
    <% end %>


    <%= render "admin/shared/collapsible", name: "Skills", id: "employee-skills" do %>
        <%= render "employees/editors/skills", f: f %>
    <% end %>
    


    <%= render "admin/shared/collapsible", name: "Qualifications", id: "employee-qualifications" do %>
      <%= render "employees/editors/qualifications", f: f %>
    <% end %>


      <div class="form-actions">
          <%= f.submit "Save", class: "button" %>
          <%= link_to 'Cancel', admin_employees_path %>
      </div>

        <% end %>
    


    <% if admin_users? %>
      <div class="danger-zone">
          <h2>Danger zone</h2>
          <p>Permanently deleted employees will be removed after 30 days. They can't be recovered by anyone.</p>
          <%= link_to 'Delete employee', admin_employee_path(@employee), class: 'button button--danger', method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

  </div>

  <aside class="with-sidebar__sidebar">
    <%= render "admin/shared/collapsible", name: "Status", id: "employee-status" do %>
      <%= render "admin/employees/data/status", object: @employee %>
    <% end %>

    <%= render "admin/shared/collapsible", name: "History", id: "employee-history" do %>
      <%= render "admin/employees/data/history", object: @employee %>
    <% end %>
  </aside>

</div>