<header class="page-header">
  <%= link_to "Back", admin_employees_path, class: "go-back" %>
  <p><strong>
  <%= "#{@employee.job_title}, #{@employee.service.name}" %>
  </strong></p>
  <div class="employee-detail">
    <p>
      <%= "Record #{@employee.id}"%>
    </p>
    <% if admin_users? %>
      <div class="edit-actions">
        <%= link_to 'Edit', edit_admin_employee_path(@employee) %>
        <%= link_to 'Delete record', admin_employee_path(@employee), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</header>

<div class="with-sidebar">

  <div class="panel">
    <div class="collapsible" id="personal-information">
      <button class="collapsible__header" type="button">
          <h2>
            Personal information
          </h2>
      </button>
      <div class="collapsible__content">
        <div class="field">
          <strong>
            <label class="field__label">First names</label>
          </strong>
            <p class="field__input"><%= @employee.forenames %></p>
        </div>

        <div class="field">
          <strong>
            <label class="field__label">Surname</label>
          </strong>
            <p class="field__input"><%= @employee.surname %></p>
        </div>

        <div class="field">
          <strong>
            <label class="field__label">Date of Birth</label>
          </strong>
            <p class="field__input"><%= @employee.date_of_birth.strftime("%d/%m/%Y") %></p>
        </div>

        <div class="field">
          <strong>
            <label class="field__label">Home address</label>
          </strong>
            <p class="field__input"><%= @employee.street_address %></p>
        </div>

        <div class="field">
          <strong>
            <label class="field__label">Post code</label>
          </strong>
            <p class="field__input"><%= @employee.postal_code %></p>
        </div>
      </div>
    </div>

    <div class="collapsible" id="provider">
      <button class="collapsible__header" type="button">
          <h2>
            Provider
          </h2>
      </button>
      <div class="collapsible__content">
        <div class="field">
          <strong>
            <label class="field__label">Current Provider</label>
          </strong>
            <p class="field__input"><%= service_name_by_id(@employee.service_id) %></p>
        </div>

        <div class="field">
          <strong>
            <label class="field__label">Employed from</label>
          </strong>
            <p class="field__input"><%= @employee.employed_from.strftime("%d/%m/%Y") %></p>
        </div>

        <div class="checkbox field">
          <strong>
            <label class="field__label">Currently employed</label>
          </strong>
            <p class="field__input">
                <%= @employee.currently_employed? ? 'Yes' : 'No' %>
            </p>
        </div>

        <% if @employee.employed_to.present?%>
        <div class="field">
          <strong>
            <label class="field__label">Employed to</label>
          </strong>
            <p class="field__input"><%= @employee.employed_to.strftime("%d/%m/%Y") %></p>
        </div>
        <% end %>
      </div>
    </div>

    <div class="collapsible" id="job-title">
      <button class="collapsible__header" type="button">
          <h2>
            Job title
          </h2>
      </button>
      <div class="collapsible__content">
        <div class="field">
          <strong>
            <label class="field__label">Job title</label>
          </strong>
            <p class="field__input"><%= @employee.job_title %></p>
        </div>
      </div>
    </div>


    <div class="collapsible" id="roles">
      <button class="collapsible__header" type="button">
          <h2>
            Roles
          </h2>
      </button>
      <div class="collapsible__content">
        <div class="field">
          <strong>
            <label class="field__label">Current roles</label>
          </strong>
            <p class="field__input">
              <% if @employee.roles.present? %>
                <% @employee.roles.each do |role| %>
                  <%= role %><br>
                <% end %>
              <% else %>
                No roles
              <% end %>
            </p>
        </div>
      </div>
    </div>

    <div class="collapsible" id="skills">
      <button class="collapsible__header" type="button">
          <h2>
            Skills
          </h2>
      </button>
      <div class="collapsible__content">

        <table class="table--employee-info">
          <tr class="table-column">
            <th>Skill</th>
            <th>Date Achieved</th>
          </tr>

          <% if @employee.has_dbs_check %>
            <tr class="table-column">
              <td>DBS check</td>
              <td><%= @employee.dbs_achieved_on.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>

          <% if @employee.has_first_aid_training %>
            <tr class="table-column">
              <td>Paediatric First Aid training</td>
              <td><%= @employee.first_aid_achieved_on.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>

          <% if @employee.has_food_hygiene %>
            <tr class="table-column">
              <td>Food Hygiene Qualification</td>
              <td><%= @employee.food_hygiene_achieved_on.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>
            <% if @employee.has_senco_training %>
            <tr class="table-column">
              <td>SENCO training</td>
              <td><%= @employee.senco_achieved_on.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>
            <% if @employee.has_safeguarding %>
            <tr class="table-column">
              <td>(Other Safeguarding) Safeguarding for all training</td>
              <td><%= @employee.safeguarding_achieved_on.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>
            <% if @employee.has_senco_early_years %>
            <tr class="table-column">
              <td>Early Years Level 3 SENCO</td>
              <td><%= @employee.senco_early_years_achieved_on.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="collapsible" id="qualifications">
      <button class="collapsible__header" type="button">
          <h2>
            Qualifications
          </h2>
      </button>
      <div class="collapsible__content">
        <div class="field">
          <strong>
            <label class="field__label">Qualifications</label>
          </strong>
            <p class="field__input">
              <% if @employee.qualifications.present? %>
                <% @employee.qualifications.each do |qualification| %>
                  <%= qualification %><br>
                <% end %>
              <% else %>
                No qualifications
              <% end %>
            </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel">
    <div class="collapsible" id="status">
        <button class="collapsible__header" type="button">
            <h2>
              Status
            </h2>
        </button>
        <div class="collapsible__content">
          <p>The records status shows whether they are actively in their current role or not.</p>
          <div class="tag margin-top--md <%= @employee.currently_employed? ? 'bg--active color--active border--active' : 'bg--inactive color--inactive border--inactive' %>">
            <%= @employee.currently_employed? ? 'Active' : 'Inactive' %>
          </div>
        </div>
    </div>

      <div class="collapsible" id="history">
          <button class="collapsible__header" type="button">
              <h2>
                History
              </h2>
          </button>
          <div class="collapsible__content">
            <ul>
              <% @employee.versions.each do |version| %>
                <li>
                  <%= 'Record updated ' if version.event == 'update' %>
                  <%= 'Record created ' if version.event == 'create' %>
                  by <%= version.whodunnit || "Unknown User" %><br>
                  Date: <%= version.created_at.strftime("%d-%m-%Y %H:%M:%S") %><br>
                </li>
              <% end %>
            </ul>

        </div>
    </div>
  </div>
</div>
