<% content_for :header do %>


  <% if @employee.duplicate && @employee.duplicate.is_duplicate %>
      <div class="notice">
        <div class="notice__body">
          <p>
            This item has been marked as a potential duplicate of another record. 
          </p>
          <p>
          To merge or delete records please go to the <%= link_to 'duplicates page', admin_duplicates_path %>.
          </p>
        </div>
      </div>
  <% end %>  

  <%= render "admin/shared/dynamic-back-link", text: "Back to provider employee details", path: admin_employees_path %>
  <h1 class="page-header__title two-thirds"><%= employee_display_name(@employee) %></h1>
  <h2><%= employee_display_job_summary(@employee) %></h2>
  <p class="text-light">Record <%= @employee.id %>  </p>
<% end %>


<header class="actions">
  <% if admin_users? %><%= link_to 'Edit', edit_admin_employee_path(@employee), class: 'inline-button button--secondary' %>  <% end %>
  <button class="inline-button actions__pull-right" data-open-all>Open all</button>
  <button class="inline-button" data-close-all>Close all</button>
</header>


<div class="with-sidebar">

  <div>

    <%= render "admin/shared/collapsible", name: "Personal information", id: "employee-personal-information" do %>
      <%= render "admin/shared/field-static", label: "Forenames" do %>
        <%= employee_display_forenames(@employee) %>
      <% end %> 
      <%= render "admin/shared/field-static", label: "Surname" do %>
        <%= employee_display_surname(@employee) %>
      <% end %> 
      <%= render "admin/shared/field-static", label: "Date of birth" do %>
        <%= @employee.date_of_birth.strftime("%d/%m/%Y") unless @employee.date_of_birth.nil? %>
      <% end %> 
      <%= render "admin/shared/field-static", label: "Home address" do %>
        <%= @employee.street_address unless @employee.street_address.nil? %>
      <% end %> 
      <%= render "admin/shared/field-static", label: "Postcode" do %>
        <%= @employee.postal_code unless @employee.postal_code.nil? %>
      <% end %> 
    <% end %>



    <%= render "admin/shared/collapsible", name: "Provider", id: "employee-provider-information" do %>
      <%= render "admin/shared/field-static", label: "Current provider" do %>
        <%= link_to service_name_by_id(@employee.service_id), admin_service_path(@employee.service_id) %>
      <% end %> 
      <%= render "admin/shared/field-static", label: "Employed from" do %>
        <%= @employee.employed_from.strftime("%d/%m/%Y") unless @employee.employed_from.nil?  %>
      <% end %> 
      <%= render "admin/shared/field-static", label: "Currently employed" do %>
        <%= @employee.currently_employed? ? 'Yes' : 'No' %>
      <% end %> 
      <% if @employee.employed_to.present? %>
        <%= render "admin/shared/field-static", label: "Employed to" do %>
          <%= @employee.employed_to.strftime("%d/%m/%Y") unless @employee.employed_to.nil?  %>
        <% end %> 
      <% end %> 
    <% end %>


    <%= render "admin/shared/collapsible", name: "Job title", id: "employee-job-title" do %>
      <%= render "admin/shared/field-static", label: "Job title" do %>
        <%= @employee.job_title unless @employee.job_title.nil? %>
      <% end %> 
    <% end %>


    <%= render "admin/shared/collapsible", name: "Roles", id: "employee-roles" do %>
      <%= render "admin/shared/field-static", label: "Current roles" do %>
            <% if @employee.roles.present? %>
                <% @employee.roles.each do |role| %>
                  <%= role %><br>
                <% end %>
              <% else %>
                No roles
              <% end %>
      <% end %> 
    <% end %>


    <%= render "admin/shared/collapsible", name: "Skills", id: "employee-skills" do %>
    <% if 
        [@employee.has_dbs_check,
        @employee.has_first_aid_training,
        @employee.has_food_hygiene,
        @employee.has_senco_training,
        @employee.has_safeguarding,
        @employee.has_senco_early_years].any? %>
        <table class="table--employee-info">
          <tr class="table-column">
            <th>Skill</th>
            <th>Date achieved</th>
          </tr>
          <% if @employee.has_dbs_check %>
            <tr class="table-column">
              <td>DBS check</td>
              <td><%= @employee.dbs_achieved_on.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>
          <% if @employee.has_first_aid_training %>
            <tr class="table-column">
              <td>Paediatric First Aid training</td>
              <td><%= @employee.first_aid_achieved_on.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>
          <% if @employee.has_food_hygiene %>
            <tr class="table-column">
              <td>Food Hygiene Qualification</td>
              <td><%= @employee.food_hygiene_achieved_on.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>
            <% if @employee.has_senco_training %>
            <tr class="table-column">
              <td>SENCO training</td>
              <td><%= @employee.senco_achieved_on.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>
            <% if @employee.has_safeguarding %>
            <tr class="table-column">
              <td>(Other Safeguarding) Safeguarding for all training</td>
              <td><%= @employee.safeguarding_achieved_on.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>
          <% if @employee.has_senco_early_years %>
            <tr class="table-column">
              <td>Early Years Level 3 SENCO</td>
              <td><%= @employee.senco_early_years_achieved_on.strftime("%d/%m/%Y") %></td>
            </tr>
          <% end %>
        </table>
          <% else %>
            <p>No skills added</p>
          <% end %>
    <% end %>
    


    <%= render "admin/shared/collapsible", name: "Qualifications", id: "employee-qualifications" do %>
     <% if @employee.qualifications.present? %>
        <table class="table--employee-info">
          <tr class="table-column">
            <th>Qualification</th>
          </tr>
        <% @employee.qualifications.each do |qualification| %>
         <tr class="table-column">
              <td><%= qualification %></td>
            </tr>
        <% end %>
        </table>
      <% else %>
        <p>No qualifications added</p>
      <% end %>
    <% end %>
    


    <% if admin_users? %>
      <div class="danger-zone">
          <h2>Danger zone</h2>
          <p>Permanently deleted employees will be removed after 30 days. They can't be recovered by anyone.</p>
          <%= link_to 'Delete employee', admin_employee_path(@employee), class: 'button button--danger', method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

  </div>

  <aside class="with-sidebar__sidebar">
    <%= render "admin/shared/collapsible", name: "Status", id: "employee-status" do %>
      <%= render "admin/employees/data/status", object: @employee %>
    <% end %>

    <%= render "admin/shared/collapsible", name: "History", id: "employee-history" do %>
      <%= render "admin/employees/data/history", object: @employee %>
    <% end %>

    <%= render "admin/shared/collapsible", name: "Duplicate", id: "employee-duplicate" do %>  
    <strong>
      <%= flag_duplicate_link(@employee, @employee.duplicate && @employee.duplicate.is_duplicate ? "Mark as not a duplicate" : "Mark as a duplicate") %>
    </strong>
    <% end %>


    
  </aside>

</div>