<%= form_tag do %>

    <fieldset>
        <legend>
            <h1>Is your childcare service listed on our directory?</h1>
        </legend>

        <% if notice.present? %>
            <p><strong><%= notice %></strong></p>
        <% end %>

        <%= radio_button_tag :eligible, :yes, false, id: "eligible_yes" %>
        <%= label_tag "eligible_yes", "Yes" %>

        <%= radio_button_tag :eligible, :no, false, id: "eligible_no" %>
        <%= label_tag "eligible_no", "No or not sure"%>

    </fieldset>

    <%= button_tag "Next" %>
<% end %>