<table class="table-holder">
  <thead>
    <tr>
    <th <%= "aria-sort=\"ascending\"" if @filterrific.sorted_by == 'forenames_asc' %> 
        <%= "aria-sort=\"descending\"" if @filterrific.sorted_by == 'forenames_desc' %>>
      First names
    </th>
    <th <%= "aria-sort=\"ascending\"" if @filterrific.sorted_by == 'surname_asc' %> 
        <%= "aria-sort=\"descending\"" if @filterrific.sorted_by == 'surname_desc' %>>
        Last name</th>
    <th <%= "aria-sort=\"ascending\"" if @filterrific.sorted_by == 'job_title_asc' %> 
        <%= "aria-sort=\"descending\"" if @filterrific.sorted_by == 'job_title_desc' %>>
        Job title</th>
      <% if local_assigns[:show_employee_specific_table] %>
    <th <%= "aria-sort=\"ascending\"" if @filterrific.sorted_by == 'service_name_asc' %> 
        <%= "aria-sort=\"descending\"" if @filterrific.sorted_by == 'service_name_desc' %>>
        Provider</th>
      <% elsif local_assigns[:show_service_specific_table] %>
    <th <%= "aria-sort=\"ascending\"" if @filterrific.sorted_by == 'roles_asc' %> 
        <%= "aria-sort=\"descending\"" if @filterrific.sorted_by == 'roles_desc' %>>
        Roles</th>
      <% end %>
    <th <%= "aria-sort=\"ascending\"" if @filterrific.sorted_by == 'qualifications_asc' %> 
        <%= "aria-sort=\"descending\"" if @filterrific.sorted_by == 'qualifications_desc' %>>
        Qualifications</th>
    <th <%= "aria-sort=\"ascending\"" if @filterrific.sorted_by == 'status_asc' %> 
        <%= "aria-sort=\"descending\"" if @filterrific.sorted_by == 'status_desc' %>>
        Status</th>
    </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td>
        <strong>
          <%= link_to employee.forenames, admin_employee_path(employee) %>
        </strong>
        <button class="mini-search__submit">
        <%= image_tag "search.svg", alt: "Submit search" %>
        </button>
      </td>
      <td><%= employee.surname %></td>
      <td><%= employee.job_title %></td>
      <% if local_assigns[:show_employee_specific_table] %>
        <td><%= employee.service.name %></td>
      <% elsif local_assigns[:show_service_specific_table] %>
        <td>
        <% if employee.roles.present? %>
          <%= "#{employee.roles.count} #{employee.roles.count == 1 ? 'role' : 'roles'}" %>
        <% else %>
          <%= "" %>
        <% end %>
        </td>
      <% end %>
      <td>
      <% if employee.qualifications.present? %>
        <% employee.qualifications.each do |qualification| %>
          <%= qualification %>
        <% end %>
      <% else %>
        <%= "" %>
      <% end %>
      </td>
      <td class="tag tag <%= employee.currently_employed? ? 'active' : 'inactive' %>">
        <%= employee.currently_employed? ? 'Active' : 'Inactive' %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
