<table class="table-holder">
  <thead>
    <tr>
      <th>
      <%= sortable_table_column 'First names', :forenames, params, service_id: local_assigns[:service_id], show_service_specific_table: local_assigns[:show_service_specific_table] %>
      </th>
      <th>
      <%= sortable_table_column 'Last name', :surname, params, service_id: local_assigns[:service_id], show_service_specific_table: local_assigns[:show_service_specific_table] %>
      </th>
      <th>
      <%= sortable_table_column 'Job title', :job_title, params, service_id: local_assigns[:service_id], show_service_specific_table: local_assigns[:show_service_specific_table] %>
      </th>
      <% if local_assigns[:show_employee_specific_table] %>
      <th>
        <%= sortable_table_column 'Provider', :service_name, params %>
      </th>
      <% end %>
      <% if local_assigns[:show_service_specific_table] %>
      <th>
        <%= sortable_table_column 'Roles', :roles, params, service_id: local_assigns[:service_id], show_service_specific_table: true %>
      </th>
      <% end %>
      <th>
      <%= sortable_table_column 'Qualifications', :qualifications, params, service_id: local_assigns[:service_id], show_service_specific_table: local_assigns[:show_service_specific_table] %>
      </th>
      <th>
      <%= sortable_table_column 'Status', :status, params, service_id: local_assigns[:service_id], show_service_specific_table: local_assigns[:show_service_specific_table] %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td>
        <strong>
          <%= link_to employee.forenames, admin_employee_path(employee) %>
        </strong>
        <button class="mini-search__submit">
        <%= image_tag "search.svg", alt: "Submit search" %>
        </button>
      </td>
      <td><%= employee.surname %></td>
      <td><%= employee.job_title %></td>
      <% if local_assigns[:show_employee_specific_table] %>
        <td><%= service_name_by_id(employee.service_id) %></td>
      <% elsif local_assigns[:show_service_specific_table] %>
        <td>
        <% if employee.roles.present? %>
          <%= "#{employee.roles.count} #{employee.roles.count == 1 ? 'role' : 'roles'}" %>
        <% else %>
          <%= "" %>
        <% end %>
        </td>
      <% end %>
      <td>
      <% if employee.qualifications.present? %>
        <% employee.qualifications.each do |qualification| %>
          <%= qualification %>
        <% end %>
      <% else %>
        <%= "" %>
      <% end %>
      </td>
      <td class="tag tag <%= employee.currently_employed? ? 'active' : 'inactive' %>">
        <%= employee.currently_employed? ? 'Active' : 'Inactive' %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
