<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield :title %>
      Tell us who you employ | Buckinghamshire Council
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <%= render "shared/header" %>
  <%#= render "shared/navigation" %>


user signed in: <%= user_signed_in? %>
<br />
admin?: <%= admin? %>
<br />

    <%= debug session %>

    <%= yield :precontent %>

    <div class="page-content">
      <div class="container">
        <header class="page-header">
          <% if notice || alert %>
            <div role="alert" class="alert">
              <%= notice %>
              <%= alert %>
            </div>
          <% end %>
          <%= yield :header %>
        </header>

        <%= yield %>
      </div>
    </div>


  <%= render "shared/footer" %>

  </body>
</html>
